  <div class="container" style="margin:100px auto;">


     <div class="row">
         
        <div class="col-5">
            <h2>Bienvenido</h2>
        </div>
        <div class="col-2">
          <p>Volver a <a href="/">Home</a></p>
          </div>
    </div>
  </br>
   <div class="row">
         
        <div class="col-7">
    <form action="/admin/login" method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required class="form-control">
    </div>   
    </br> 
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required class="form-control"> 
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    </form>
    {{#if error}}
    <p>Usuario o password incorrectos!</p>
    {{/if}}
  
    </div>
    </div>
    </div>